* {
  margin: 0;
  padding: 0;
}

body {
  background-color: antiquewhite;
  color: black;
}

.wrapper {
  width: 1200px;
  margin: 50px auto;
}

header .logo {
  font-size: 20px;
}

header .pres {
  margin: 50px 0;
  background: url("./img/fly.jpg") no-repeat;
  width: 30%;
  height: 250px;
  /* background-position: center center; */
  background-blend-mode: multiply;
  background-size: cover;
  background-color: rgb(179, 172, 112);
  border-radius: 20px;
  position: relative;
}

header .pres::after {
  content: "Высокое качество";
  position: absolute;
  top: 10%;
  left: 50%;
  font-size: 40px;
  color: aliceblue;
}

header ul.nav {
  float: right;
  list-style: none;
}

header ul.nav li {
  display: inline;
  margin-left: 5vh;
  cursor: pointer;
  transition: opacity 0.5s ease;
}

header ul.nav li:hover {
  opacity: 0.5;
}

footer {
  text-align: center;
  margin-top: 12px;
}

main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

main .item {
  width: 30%;
  margin-bottom: 50px;
  background: rgb(221, 185, 185);
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  position: relative;
}

main .item:hover {
  background: rgb(233, 174, 174);
}

main .item img {
  width: 100%;
  border-radius: 20px 20px 0 0;
  transition: transform 0.5s ease;
}

main .item img:hover {
  transform: scale(1.05);
}

main h1,
main b,
main,
p {
  margin: 10px 20px;
  color: antiquewhite;
}

main b {
  display: flex;
  color: green;
  justify-content: center;
}

main .add-to-card {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: rgb(27, 212, 23);
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  font-family: 700;
  transition: transform 0.5s ease;
}

main .add-to-card:hover {
  transform: scale(1.5) translateY(-6px);
}

header .shop-card {
  float: right;
  cursor: pointer;
  transition: color, transform 0.5s ease;
}

header .shop-card:hover,
header .shop-card.active {
  color: rgb(191, 38, 38);
  transform: scale(2);
}

header {
  position: relative;
}

header .my-card {
  position: absolute;
  top: 30px;
  right: 0;
  width: 450px;
  background: rgb(240, 236, 236);
  -webkit-box-shadow: -1px 2px 19px 17px rgba(110, 110, 94, 0.16);
  -moz-box-shadow: -1px 2px 19px 17px rgba(110, 110, 94, 0.16);
  box-shadow: -1px 2px 19px 17px rgba(110, 110, 94, 0.16);
  border-radius: 10px;
  z-index: 1000;
  padding: 30px;
  padding-bottom: 0;
}

header .my-card .myitem{
  width: 100%;
  float:left;
  margin-bottom: 20px;
}

header .my-card .myitem img{
  width: 90px;
  float:left;
  margin-right: 10px;
}

header .my-card .myitem h2{
  font-size: 20px;
  margin-bottom: 10px;
}
header .my-card .myitem p{
  font-weight: 600;
  color: green;
}